.container {
    display: grid;
    grid-template-columns: max-content repeat(6, 1fr);
    grid-template-rows: min-content;
    box-shadow: .3rem .3rem 2rem rgb(43, 42, 42);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    border-bottom: 1px solid rgb(209, 208, 208);
}
.logo {
    margin-left: 2rem;
}
input {
    width: 40rem;
    padding: 1rem;
    background-color: rgb(229, 226, 226);
    border-radius: 10rem;
    outline: none;
    transition: all .5s;
}
input:focus {
    width: 45rem;
}
.icons {
    display: flex;
    background-color: rgb(207, 202, 202);
    align-self: stretch;
    align-items: center;
}
.icons div {
    padding: 1rem;
}
.side-bar {
    padding: 2rem 0;
    width: 15rem;
    grid-column: 1/2;
    grid-row: 2/ 5;
    color: #fff;
    background-color: rgb(31, 30, 30);
}
.side-bar ul {
    list-style: none;
    margin-top: 2rem;
    font-size: 1.7rem;
}
.side-bar li {
    padding: 1.5rem;
    position: relative;
    z-index: 100;
    cursor: pointer;
    margin-bottom: .5rem;
}
.side-bar li::before {
    content: '';
    background-color: rgb(238, 36, 86);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1rem;
    height: 0;
    z-index: -1;
    transition: height .5s, width .5s .5s;
}
.side-bar li:hover::before {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.side-bar a {
    z-index: 100;
}
.hotel-view {
    height: 20rem;
    grid-column: 2/-1;
    background-color: orange;
}
.hotel-info {
    grid-row: 3/4;
    height: 50rem;
    padding: 3rem;
    grid-column: 2/-1;
    background-color: green;
}
.cta {
    height: 20rem;
}