.container {
    display: grid;
    grid-template-columns: max-content repeat(6, 1fr);
    grid-template-rows: min-content;
    box-shadow: .3rem .3rem 2rem rgb(43, 42, 42);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    border-bottom: 1px solid rgb(209, 208, 208);
}
.logo {
    margin-left: 2rem;
}
.logo img {
    width: 5rem;
}
input {
    width: 40rem;
    padding: 1rem;
    background-color: rgb(229, 226, 226);
    border-radius: 10rem;
    outline: none;
    transition: all .5s;
}
input:focus {
    width: 45rem;
}
.icons {
    display: flex;
    background-color: rgb(207, 202, 202);
    align-self: stretch;
    align-items: center;
}
.icons div {
    padding: 1rem;
}
.side-bar {
    padding: 2rem 0;
    width: 15rem;
    grid-column: 1/2;
    grid-row: 2/ 5;
    color: #fff;
    background-color: rgb(31, 30, 30);
}
.side-bar ul {
    list-style: none;
    margin-top: 2rem;
    font-size: 1.7rem;
}
.side-bar li {
    padding: 1.5rem;
    position: relative;
    z-index: 100;
    cursor: pointer;
    margin-bottom: .5rem;
}
.side-bar li::before {
    content: '';
    background-color: rgb(238, 36, 86);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1rem;
    height: 0;
    z-index: -1;
    transition: height .5s, width .5s .5s;
}
.side-bar li:hover::before {
    opacity: 1;
    height: 100%;
    width: 100%;
}
.side-bar button {
    z-index: 100;
    background-color: transparent;
    font-size: 1.5rem;
    color: #fff;
    border: none;
}
.hotel-view {
    grid-column: 2/-1;
    background-color: orange;
    display: flex;
}
.hotel-view img {
    width: 33.3%;
}
.hotel-info {
    grid-row: 3/4;
    padding: 5rem;
    grid-column: 2/-1;
    border-bottom: 1px solid #777;
    background-color: rgb(247, 243, 243);
    display: flex;
}
.hotel-info .big-card {
    background-color: #fff;
    padding: 3rem;
    margin-right: 5rem;
    width: 60%;
}
p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(71, 71, 71);
    line-height: 2.5rem;
}
.hotel-info .big-card ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(75, 74, 74);
    margin: 2rem 0;
    border: 1px solid rgb(209, 208, 208);
    border-right: none;
    border-left: none;
    padding: 3rem;
}
.hotel-info .big-card ul li {
    margin-bottom: 1rem;
}
.hotel-info .small-cards {
    display: flex;
    flex-direction: column;
}
.hotel-info .small-card {
    background-color: #fff;
    padding: 3rem;
    height: 12rem;
    width: 20rem;
    margin-bottom: 5rem;
}
.hotel-info button {
    background-color: transparent;
    color: rgb(238, 36, 69);
    border: none;
    align-self: center;
}
.cta {
    grid-column: 2 / -1;
    height: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta h2 {
    font-size: 2.5rem;
    color: #777;
    font-weight: 200;
    margin: 5rem 0;
}
.cta button {
    margin-top: -2rem;
    padding: 2rem 5rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 10rem;
    background-image: linear-gradient(to right bottom,  rgb(238, 36, 69), rgb(236, 61, 90))
}