* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.25%;
}
body {
  background-image: linear-gradient(to right bottom, rgb(238, 36, 69), rgb(236, 61, 90))
}

.container {
  max-width: 120rem;
  margin: 5rem auto;
  background-color: #fff;
}
@media only screen and (max-width: 1000px) {
  .container {
    margin: 0;
  }
}