html {
  font-size: 62.25%;
}
body {
  background-image: linear-gradient(to right bottom, rgb(238, 36, 69), rgb(236, 61, 90))
}

.container {
  width: 120rem;
  height: 50rem;
  margin: auto;
  margin-top: 8rem;
  background-color: #fff;
}
